.login-form {
	max-width: 460px;
	margin: 60px auto;
	padding: 20px;
}
.login-form label {
	display: block;
	margin: 30px auto;
}
.login-form span {
	display: block;
	margin-bottom: 6px;
}
.login-form input {
	padding: 8px 6px;
	font-size: 1em;
	color: #777;
	width: 100%;
}

/* dark mode */
.login-form.dark label,
.login-form.dark span,
.login-form.dark h2 {
	color: #fff;
}

.login-form.dark .btn {
	color: #555;
	background: #e2e2e2;
	border: 2px solid #e2e2e2;
}
