.signup-form {
	max-width: 460px;
	margin: 60px auto;
	padding: 20px;
}
.signup-form label {
	display: block;
	margin: 30px auto;
}
.signup-form span {
	display: block;
	margin-bottom: 6px;
}
.signup-form input {
	padding: 8px 6px;
	font-size: 1em;
	color: #777;
	width: 100%;
}

/* dark mode */
.signup-form.dark label,
.signup-form.dark span,
.signup-form.dark h2 {
	color: #fff;
}

.signup-form.dark .btn {
	border: 2px solid #fff;
	color: #fff;
	background: none;
}

.signup-form.dark .btn:hover {
	background: #fff;
	color: #333;
}
